
.venv/
venv/
env/
.env
__pycache__/
*.py[cod]
*$py.class


*.pt
*.onnx
datasets/
runs/
ia_models/
yolov8n.pt
best.pt


*.db
*.sqlite3

static/evidences/*
!static/evidences/.gitkeep


.vscode/
.idea/
*.swp
.DS_Store